language: python
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
    - "pypy"
matrix:
    allow_failures:
        - python: "3.2"
        - python: "3.3"
install:
    - pip install mock==1.0.1 nose==1.3.0
    - python setup.py install
script: nosetests -v
